<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student form</title>
</head>
<body>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First name: <input type="text" th:field="*{firstName}"/>
        <br><br>
        Last name: <input type="text" th:field="*{lastName}"/>
        <br><br>
        Country: <select name="country" th:field="*{nationality}" >
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
        <br><br>
        Currently using system:
        <input type="radio" th:field="*{system}" th:each="tempSystem : ${systems}"
               th:value="${tempSystem}" th:text="${tempSystem}">
        <br><br>
        Favorite programming language:
        <input type="checkbox" th:field="*{programmingLanguages}" th:each="tempLanguage : ${programmingLanguages}"
               th:value="${tempLanguage}" th:text="${tempLanguage}">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>